<?xml version="1.0" encoding="UTF-8"?>

<!-- ########################################

 # Original authors:
 # Cap10b by PAF team
 # August 2012 : Modified by PAF team
 # http://equipe-flightgear.forumactif.com
 #
 # Modified by David Van Mosselbeen for the Rans S-6S

##########################################-->

<PropertyList>

  <name>config</name>
  <modal>false</modal>
  <layout>vbox</layout>
  <padding>80</padding>

  <group>
    <layout>hbox</layout>
    <empty>
      <stretch>1</stretch>
    </empty>		
    <text>
      <label>Rans S-6S options</label>
    </text>
    <empty>
      <stretch>1</stretch>
    </empty>
    <button>
      <pref-width>16</pref-width>
      <pref-height>16</pref-height>
      <legend></legend>
      <keynum>27</keynum>
      <border>2</border>
      <binding>
        <command>dialog-close</command>
      </binding>
    </button>
  </group>

  <hrule/>

  <group>
    <halign>center</halign>
    <layout>hbox</layout>

    <group>
      <layout>vbox</layout>
      
      <group>
        <layout>hbox</layout>
        <text>
          <label>Display</label>
          <halign>left</halign>
        </text>
        <hrule>
          <stretch>true</stretch>
        </hrule>
      </group>

      <!--<checkbox>
        <halign>left</halign>
        <label>Show Yokes</label>
        <property>sim/model/config/show-yokes</property>
        <binding>
          <command>property-toggle</command>
          <property>sim/model/config/show-yokes</property>
        </binding>
      </checkbox>

      <checkbox>
        <halign>left</halign>
        <label>Show Pilot</label>
        <property>sim/model/config/show-pilot</property>
        <binding>
          <command>property-toggle</command>
          <property>sim/model/config/show-pilot</property>
        </binding>
      </checkbox>-->

      <!--<checkbox>
        <halign>left</halign>
        <label>Show Copilot</label>
        <property>sim/model/config/show-copilot</property>
        <binding>
          <command>property-toggle</command>
          <property>sim/model/config/show-copilot</property>
        </binding>
      </checkbox>-->

      <!--<checkbox>
        <halign>left</halign>
        <label>Details High</label>
        <property>sim/model/config/details-high</property>
        <binding>
          <command>property-toggle</command>
          <property>sim/model/config/details-high</property>
        </binding>
      </checkbox>-->

      <checkbox>
        <halign>left</halign>
        <label>Glass reflection</label>
        <property>sim/model/config/glass-reflection</property>
        <binding>
          <command>property-toggle</command>
          <property>sim/model/config/glass-reflection</property>
        </binding>
      </checkbox>

    </group>

    <vrule/>

    <group>
      <layout>vbox</layout>

      <group>
        <layout>hbox</layout>
        <button>
          <legend>Autostart</legend>
          <default>false</default>
          <binding>
            <command>property-toggle</command>
            <property>sim/model/start-idling</property>
          </binding>
        </button>
      </group>

    </group>

  </group>

  <hrule/>

  <button>
    <legend>Close</legend>
    <default>true</default>
    <key>Esc</key>
    <binding>
      <command>dialog-apply</command>
    </binding>
    <binding>
      <command>dialog-close</command>
    </binding>
  </button>

  <nasal>
    <open></open>
  </nasal>
</PropertyList>
